*{
    margin: 0;
    padding: 0;
}
    ol, ul{
        list-style: none;
    }

html{

scroll-behavior: smooth;

}

body{
    background-color: cornsilk;
}

header{

    background-color:rgba(240,230,140,0.4);
    padding-top: 3%;
    padding-bottom: 3%;
    clear:both;
    text-align: center;
}

img{
    width: 15%;
    border-radius: 15px;
    box-shadow: 10px 10px  darkgray;
    margin: 1%;
}
figure{
    text-align: center;
}
.container{
    width: 80%;
    margin: auto;
}
h1,h2{

text-align: center;
font-family: 'Righteous', cursive;
color: cornflowerblue;
padding-top: 3%;
padding-bottom: 1%;

}
p{
    font-family: 'Baloo 2', cursive;
    text-align: justify;
    color: darkslategray;
    font-size: 1.2em;
}

div.center
{
    text-align: center;
}

footer{

    background-color:rgba(240,230,140,0.4);
    padding-top: 4%;
    padding-bottom: 4%;
    clear: both;
    padding-top: 4%;
    margin-top: 2%;
}

footer p{

    text-align: center;

}

.apoio{

    text-align: center;

    }

.menu ul li{
    line-height: 1.5;
}

a:link {
    color: orange;
  }
  
  a:visited {
    color: coral;
  }
  
  a:hover {
    color: aqua;
    padding: 0.7%;
    border-radius:25px;
  }
  
  a:active {
    color:blue
  }