body{
    background-color: cornsilk;
}
img{
    width: 20%;
}
figure{
    text-align: center;
}
.container{
    width: 80%;
    margin: auto;
}
h1,h2{

text-align: center;
font-family: 'Righteous', cursive;
color: cornflowerblue;

}
p{
    font-family: 'Baloo 2', cursive;
    text-align: justify;
    color: darkslategray;
    font-size: 1.5em;

}

div.center
{
    text-align: center;
}